@model MvcMusicDistr.Models.Pair

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pair</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnGroundLeft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnGroundLeft)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnGroundRight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnGroundRight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gait)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gait.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
